<!DOCTYPE html>
<html>
<head>
  <title>LennisAndRory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         
          <nav>
            <ul class="nav pull-center">
				<li><%= link_to "Overview", root_path %></li>
				<li><%= link_to "Venue", venue_path %></li>
				<li><%= link_to "Where To Stay", where_to_stay_path %></li>
				<li><%= link_to "Book Flights", travel_path %></li>
				<li><%= link_to "Registry Info", registry_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37803546-1']);
  _gaq.push(['_setDomainName', 'lennisandrory.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div>
</body>
</html>
